@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'railey';
    src: url('/public/assets/font/Railey-PersonalUse.ttf');
}

@font-face {
    font-family: 'swash';
    src: url('/public/assets/font/BerkshireSwash-Regular.ttf');
}